In [3]:
# Task1)  go through some of the other in built functions

# 1. isnumeric()    # returns true if all the values are numeric

a = "123456"
x = a.isnumeric()
print(x)

True

In [4]:
#2.replace()        #Returns a string where a specified value is replaced with a specified value

a = "I like to play Cricket"
x = a.replace("Cricket","Tennis")
print(x)

I like to play Tennis

In [6]:
#3.title()          #Converts the first character of each word to upper case

a = "my country is india"
x = a.title()
print(x)

My Country Is India

In [11]:
#4.append()         #adds an element at the end of the list

b = ['mercedes','maserati','bmw']
b.append('range rover')
print(b)

['mercedes', 'maserati', 'bmw', 'range rover']

In [18]:
#5.insert()        #Adds an element at the specified position

p = ['apple','banana','cherry']
p.insert(1, "orange")
print(p)

['apple', 'orange', 'banana', 'cherry']

In [20]:
#6.sort()         #sorts the list in alphabetical order

a = ['a','b','d','c','f','e']
a.sort()
print(a)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
#task 2) 
# given a string for example
str1 = "Welcome to python"

# check if "to" is present in "welcome to python"

In [23]:
str1 = "Welcome to python"
str1[8:11:1]                 # YES, 'to' is present in "Welcome to python" by using "SLICING"

'to '

In [ ]:
#OR (IF-ELSE method)

In [27]:
str1 = "Welcome to python"
str2 = "to"
if(str2 in str1):
    print("Substring-'to'is present")
else:
    print("Substring-'to'is not present")

Substring-'to'is present

In [35]:
#task 3.1)
#remove()

a = ['hii',1,3,5,'hello',8,9]
a.remove('hello')
print(a)

['hii', 1, 3, 5, 8, 9]

In [38]:
#count

a = [1,2,3,2,'hello','India',2,10]
x = a.count(2)
print(x)

3

In [39]:
#clear

b = ['apple','banana',1,4,6,7,9]
b.clear()
b

[]

In [41]:
#sort

c = [4,5,2,7,9,1,3,6,10,8]
c.sort()
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
#reverse

x = [40,50,60,70,80,'hello']
x.reverse()
x

['hello', 80, 70, 60, 50, 40]

In [53]:
#task 3.2)
# create a list of lenght = 10 and access 5th to 8th data.

a = ['fan','AC','fridge','machine',3,5,7,9,'aaa','bbb','ccc','ddd','eee']
x = a[4:8:1]
print(x)

[3, 5, 7, 9]

In [123]:
# task4)
#Add item 70 after 60 in the following Python List

l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2].insert(2, 70)
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [129]:
#add sublist [7,8] after 6

l2 = [1,2,[3,4,5,6],9]
l2[2].insert(4, [7,8])
print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [131]:
# task5)

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

#From the above dictionary, do the following tasks

#access "Mike"
#access 80
#change "Mike" to "Your name"
#add ML = 80 and DL = 80 inside marks

In [132]:
#access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [135]:
#access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [137]:
#change "Mike" to "Your name"

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"] = "hrishikesh"
x = dict1
print(x)

{'april_batch': {'student': {'name': 'hrishikesh', 'marks': {'python': 80, 'maths': 70}}}}

In [143]:
#add ML = 80 and DL = 80 inside marks

dict1["april_batch"]["student"]["marks"]["ML"] = 80
print(dict1)

{'april_batch': {'student': {'name': 'hrishikesh', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [140]:
dict1["april_batch"]["student"]["marks"]["DL"] = 80
print(dict1)

{'april_batch': {'student': {'name': 'hrishikesh', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [147]:
# task6)
#Add and remove the elements from a tuple

a = (1,2,"hello",'hii','apple',5.5,"true")
type(a)

tuple

In [154]:
b = list(a)          #convert tuple into list to modify, remove and add the values
print(b)

[1, 2, 'hello', 'hii', 'apple', 5.5, 'true']

In [155]:
b.insert(7,"India")
print(b)

[1, 2, 'hello', 'hii', 'apple', 5.5, 'true', 'India']

In [157]:
a = tuple(b)       # Added value to tuple 
print(a)

(1, 2, 'hello', 'hii', 'apple', 5.5, 'true', 'India')

In [161]:
c = list(a)          #convert tuple into list to modify, remove and add the values
print(c)

[1, 2, 'hello', 'hii', 'apple', 5.5, 'true', 'India']

In [162]:
c.remove("India")
print(c)

[1, 2, 'hello', 'hii', 'apple', 5.5, 'true']

In [163]:
a = tuple(c)        # Removed value from tuple
print(a)

(1, 2, 'hello', 'hii', 'apple', 5.5, 'true')